a{
    text-decoration: none;

}

.txt-xs{
    font-size: 13px;
    color: #666;
}

/** white button **/

.btn-white{
    background-color: #fff;
}

.btn-default-default{
    border: solid 1px #ccc;
}
.btn-white:hover{
    color: rgb(0, 151, 157);
    background-color: #fafafa;
}

.btn-primary{
    background-color: #0097b2bf !important;
    border: solid 1px rgb(0, 151, 157) !important;
}

.btn-primary:hover{
    background-color: rgb(0, 151, 157) !important;
}
.text-primary{
    color: rgb(0, 151, 157) !important;
}

.bg-green{
    color: green;
}

.bg-blue{
    color: #0097b2bf;
}

.bg-info{
    background-color: #0097b2bf !important;
}

.modal-header{
    color: #fff;
    background-color: #0097b2bf !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card{
     border: solid 1px #eee !important; 
    border-top: none !important;
}

.bg-default{
    background: #ccc !important;
}

.text-fade{
    color:#999;
}

.bg-faded{
    background-color: #f3f3f3;
}